[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
boruta = "*"
xgboost = "*"
seaborn = "*"
plotly = "*"
line-profiler = "*"
snakeviz = "*"
memory-profiler = "*"
psutil = "*"
lightgbm = "*"

[dev-packages]

[requires]
python_version = "3.8"
